doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(href="//fonts.googleapis.com/css?family=Alegreya:400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css")
		link(rel="stylesheet", href="/css/bundle.css")
	body
		block content
		script(type="text/javascript" src="/scripts/bundle.js")