doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title drawme.io
		meta(name="description", content="Find out recent damage numbers from League of Legends and compare how you stack up with the deadliest.")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="apple-touch-icon" href="/icons/apple-touch-icon.png")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(href="//fonts.googleapis.com/css?family=Alegreya:400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css")
		link(rel="stylesheet", href="/css/bundle.css")
	body
		block content
		script(type="text/javascript" src="/scripts/bundle.js")