// !GAMES

.games-container {
	display: flex;
	flex-direction: column;
	margin: 4.5em auto 2em auto;
	max-width: 960px;
	padding: 0 1em;
	font-size: 1.2em;

	h2 {
		color: $secondary-color;
		text-align: center;
	}

	h3 {
		color: $secondary-color;
		text-align: center;
	}

	.game-wrapper {
		margin: 0.8em 0;

		.game-header {
			position: relative;
			z-index: 7;
			padding: 1.5em;
			background-color: $game-background-color-dark;
			color: $secondary-color;
			border: 1px solid $default-color;

			.game-header-background {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background-color: $game-background-color-dark;
				opacity: 0.8;
				width: 100%;
				height: 100%;
				background-position: 50% 20% !important;
				background-size: cover !important;
			}

			.game-header-overlay {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 6;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				padding: 1em;
				opacity: 0;
				background-color: $default-color-trans;
				transition: opacity 175ms;

				span {
					font-size: 1.5em;
				}
			}

			.game-header-container {
				display: flex;
				justify-content: space-between;
				position: relative;
				z-index: 5;

				.game-header-details {
					display: flex;
					flex-direction: column;
				}

				.game-dmg {
					display: flex;
					align-items: center;
					font-size: 3em;
					color: $dmg-color;
				}
			}

			&:hover {
				cursor: pointer;
				border: 1px solid $secondary-color-dark;

				.game-header-overlay {
					opacity: 1;
				}

				&.top-game {

					&.old {
						border: 2px solid $secondary-color-dark;
					}

					&.new {
						border: 2px solid $secondary-color-dark;
					}

					&.global {
						border: 2px solid $secondary-color-dark;
					}
				}
			}

			&.top-game {

				.summoner-info {
					display: flex;
					justify-content: space-between;
					position: relative;
					z-index: 5;
					font-size: 1.6em;

					.info {
						font-weight: bold;
					}
				}

				.game-header-container {

					.game-dmg {
						font-weight: bold;
						font-size: 3.4em;
					}
				}

				&.new {
					border: 2px solid $new-top-color;

					.game-dmg {
						color: $new-top-color;
					}
				}

				&.old {
					border: 2px solid $old-top-color;

					.game-dmg {
						color: $old-top-color;
					}
				}

				&.region {

					.summoner-info {

						.info {
							color: $old-top-color;
						}
					}
				}

				&.global {
					border: 2px solid $old-top-color;
				}

			}
		}

		.game-stats {
			color: $secondary-color;
			background-color: $content-color-semi-light;

			h3 {
				background-color: $content-color;
				line-height: 2em;
			}

			.game-stats-areas {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1em 1.5em;

				.game-stats-chart-area {
					width: 50%;
					height: 200px;

					.damage-chart {
						width: 100%;
						height: 100%;

						 div:first-of-type {
							width: 100%;
							height: 100%;
						}
					}
				}

				.game-stats-detail-area {
					text-align: right;
					
					.description {
						color: $emphasis-color-dark;
					}
				}
			}
		}
	}

	.no-games {
		color: $secondary-color;
		margin: auto;
	}

	.error {
		color: $dmg-color;
		margin: auto;
	}
}