/* 
 *
 * !VARIABLES
 *
 */

$default-color: #111;
$secondary-color: #f2f0de;
$emphasis-color: gold;
$emphasis-color-dark: #ceac00;
$content-color: #1A1E24;
$content-color-light: #272c35;
$content-color-super-light: #3e4654;
$content-color-trans: rgba(26, 30, 36, 0.7); 
$dmg-color: #e06464;
$game-background-color-dark: rgb(26, 30, 36);
$new-top-color: #3dce38;
$old-top-color: #ceac00;
$region-top-color: #e06464;
$header-padding: 10px;

/* 
 *
 * !EXTERNAL
 *
 */

@import "normalize";
@import "nprogress";


/* 
 *
 * !CUSTOM
 *
 */

@import "general";
@import "header";
@import "app";
@import "splash";
@import "games-container";
@import "footer";

/* 
 *
 * !MEDIA-QUERIES
 *
 */

@import "media-650px";
@import "media-400px";
@import "media-webkit";