/* !VARIABLES */

$bodyTextColor: #000;
$bodyBackground: #fff;
$highlight-color: gold;

/* !IMPORTS */

@import "normalize";
@import "nprogress";

/* !GENERAL */

@-ms-viewport {
  width: device-width;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Alegreya', sans-serif;
  min-height: 100%;
  position: relative;
  padding-bottom: 20em;
  height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.2em;
  color: $bodyTextColor;
  background: $bodyBackground;
}
